.color {
  &-orange {
    color: $color-orange;
  }

  &-emerald {
    color: $color-emerald;
  }

  &-yellow {
    color: $color-yellow;
  }

  &-pearl {
    color: $color-pearl;
  }

  &-swamp {
    color: $color-swamp;
  }

  &-red {
    color: $color-red;
  }

  &-green {
    color: $color-green;
  }

  &-glow {
    color: $color-glow;
  }

  &-gold {
    color: $color-gold;
  }

  &-theme {
    color: $color-theme;
  }
}